<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.atwbin.myokhttps">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".base.BaseActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".rxjava.RxActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".rxjava.RxCommonActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity android:name=".rxjava.RxBitmapActivity" />
        <activity android:name=".rxjava.RxFormUploadActivity" />
        <activity android:name=".rxjava.RxFileDownloadActivity" />
        <activity android:name=".okhttp.OkHttpActivity" />
        <activity android:name=".okhttp.MethodActivity" />
        <activity android:name=".okhttp.BitmapRequestActivity" />
        <activity android:name=".okhttp.CacheActivity" />
        <activity android:name=".okhttp.HttpsActivity" />
        <activity android:name=".okhttp.SyncActivity" />
        <activity android:name=".okhttp.RedirectActivity" />
        <activity android:name=".okhttp.JsonRequestActivity" />
        <activity android:name=".okhttp.FileDownloadActivity" />
        <activity android:name=".okhttp.FormUploadActivity"></activity>
    </application>

</manifest>